= form_tag sessions_path, class: 'simple_form form-horizontal' do
  %fieldset
    %legend= t 'actions.login'
    .control-group.email.required
      .control-label.email.required
        = label_tag User.human_attribute_name(:email)
      .controls
        = text_field_tag :email, params[:email]
    .control-group.password.required
      .control-label.password.required
        = label_tag User.human_attribute_name(:password)
      .controls
        = password_field_tag :password
    .control-group.remember_me
      .controls
        %label.checkbox
          = check_box_tag :remember_me, 1, params[:remember_me]
          = "#{ User.human_attribute_name(:remember_me) } ?"
    .form-actions
      = submit_tag t('actions.login'), class: 'btn btn-primary'
      = link_to t('actions.cancel'), root_path, class: 'btn'
