= simple_form_for @user, url: password_reset_path(params[:id]), html: {class: 'form-horizontal'} do |f|
  %fieldset
    %legend= t 'actions.reset_password'
    = f.input :password
    = f.input :password_confirmation
    .form-actions
      = f.button :submit, class: 'btn-primary'
      = link_to t('actions.cancel'), root_path, class: 'btn'
