= simple_form_for @document, html: {class: 'form-horizontal'} do |f|
  %fieldset
    %legend= "#{t("actions.#{controller.action_name.downcase}")} #{Document.model_name.human}"

    = f.input :name, input_html: { class: 'span3' }
    = f.input :title, input_html: { class: 'span5' }
    = f.input :subtitle, input_html: { class: 'span5' }
    = f.input :description, input_html: { class: 'span5', rows: '5' }

    .form-actions
      = f.button :submit, class: 'btn btn-primary'
      = link_to t('actions.cancel'), documents_path, class: 'btn'
