%p#notice= notice

%p
  %b Name:
  = @document.name
%p
  %b Title:
  = @document.title
%p
  %b Subtitle:
  = @document.subtitle
%p
  %b Description:
  = @document.description

= link_to 'Edit', edit_document_path(@document)
\|
= link_to 'Back', documents_path
