%p
  %h1= @document.name
%p
  %h2= @document.title
  %h3= @document.subtitle
%dl
  %dt= Document.human_attribute_name :category
  %dd= @document.category.to_s
  %dt= Document.human_attribute_name :description
  %dd= @document.description

.form-actions
  = link_to t('actions.back'), documents_path, class: 'btn'
  = link_to t('actions.edit'), edit_document_path(@document), class: 'btn'
  = link_to t('actions.destroy'), @document, confirm: t('actions.confirm'), method: :delete, class: 'btn btn-danger'
