!!!
%html
  %head
    %title Athena
    /[if lt IE 9]
      %script{ src: 'http://html5shim.googlecode.com/svn/trunk/html5.js', type: 'text/javascript' }

    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %meta{ name:'viewport', content:'width=device-width, initial-scale=1.0' }

  .navbar.navbar-fixed-top
    .navbar-inner
      .container
        %a.btn.btn-navbar{ 'data-target' => '.nav-collapse', 'data-toggle' => 'collapse' }
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.brand{ href: '#' } Athena
        .nav-collapse
          %ul.nav
            %li= link_to 'Browse Documents', documents_path
            %li= link_to 'Price List'
          -# TODO:
          -# 1. Generate this dynamically using I18n.available_locales.
          -# 2. Use button with dropdown, bootstrap styled
          -#    btn face = I18n.locale
          -#    btn dropdown = I18n.available_locales.delete(I18n.locale)
          %ul.nav.pull-right
            %li= link_to 'EN', locale: 'en'
            %li.divider-vertical
            %li= link_to 'PT', locale: 'pt'

  .container
    - flash.each do |name, msg|
      .alert.fade.in{ class: "alert-#{ name == :notice ? 'success' : 'error'}" }
        %a.close{ 'data-dismiss' => 'alert' } ×
        = msg
    .row
      .span9
        = yield
      .span3
        %h2 About Us
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
